# Add the password for the postgres user
POSTGRES_PASSWORD=<put here the password for the postgres user>
# Add the password for the metabase user
METABASE_PASSWORD=<put here the password for the metabase user>
# Backup schedule
SCHEDULE=@daily
# Backup: s3 region
S3_REGION=**None**
# Backup: access key from IAM
S3_ACCESS_KEY_ID=**None**
# Backup: secret key from IAM
S3_SECRET_ACCESS_KEY=**None**
# Backup: name of bucket to backup to
S3_BUCKET=**None**
# Backup: folder prefix on S3
S3_PREFIX=backup
# Backup: database
POSTGRES_DATABASE=metabase
# Backup: user
POSTGRES_USER=postgres